
.skills {
  text-align: center;
  padding: 80px 20px;
  
  background: linear-gradient(120deg, #0077b6, #00b4d8);
  color: #333;
}


.skills-heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #040000;
}

.skills-intro {
  font-size: 1rem;
  color: #060000;
  margin-bottom: 50px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
  justify-items: center;
  padding: 0 30px;
}

.skill-box {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 25px 15px;
  width: 150px;
  transition: all 0.3s ease;
}

.skill-box:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  transform: translateY(-5px);
}

.icon {
  font-size: 3rem;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.skill-box:hover .icon {
  transform: rotate(10deg) scale(1.1);
}

.skill-box h3 {
  font-size: 1rem;
  margin: 0;
  color: #222;
}
